<!DOCTYPE HTML>
<html>
<head>
  <title>Topik || Messaging App</title>

  <!-- meta tags -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- css tags -->
  <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
  <link type="text/css" rel="stylesheet" href="css/jquery.mmenu.all.css" />

  <!-- script tags -->
  <script src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery.mmenu.js"></script>
  <script type="text/javascript">$(function() { $('nav#menu-left').mmenu();});</script>
</head>

<body>
  <div class="content">
  <div id="page">
  <div id="header">
  <a class="navicon" href="#menu-left"> </a>
  </div>
  <nav id="menu-left">
  <ul>
  <li class="active"><a href="/">Home</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Blog</a></li>
  <div class="clear"> </div>
  </ul>
  </nav>
  </div>
  <!------end-768px-menu---->
  <!---start-header---->
  <div class="header">
  <!---start-wrap---->
  <div class="wrap">
  <div class="header-left">

  <div class="logo">
  <h1 id="logo">Topik</h1>
  </div>

  </div>
  <div class="header-right">
  <div class="top-nav">
  <ul>
  <li class="active"><a href="/">Home</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Blog</a></li>
  </ul>
  </div>

  <div class="sign-ligin-btns">


  </li>
  <div class="clear"> </div>
  </ul>
  </div>

  <div class="clear"> </div>
  </div>
  <div class="clear"> </div>
  </div>
  </div>
  <div class="main">
  <div class="wrap">
  <div class="main_left">
  <h2>Alamak bro, it's Topik...</h2>
  <p>Abong Fazil and abong Imran are Topik fanatics. They first met over a visceral chat about the meaning of Walawi. They never looked back since and Today they are avid gozeimas goers with a penchant for mee soto.</p>
  <div class="buttons">

  <section class="form">
    <form action='/' method="post">
      <input type=text class="input-field" placeholder="Your email" required="required"><br>
      <input type="submit" value="send" class="submit-button">
    </form>
  </section>

  <div class="clear"> </div>
  </div>
  </div>
  <div class="main_right">
  <span> </span>
  </div>
  <div class="clear"> </div>
  <!---//End-header---->
  </div>
  </div>
  </div>
  <div class="buttom">
  <div class="wrap">
  <div class="top-grids">
  <div class="top-grid">
  <a href="#"><img src="images/icon1.png"/></a>
  <h3><a href="#">Topik is damn good sia.</a></h3>
  <p>Alamak, why like dat ah?.</p>
  </div>
  <div class="top-grid">
  <a href="#"> <img src="images/icon2.png"/></a>
  <h3><a href="#">How you say dat one?.</a></h3>
  <p>No need lah.</p>
  </div>
  <div class="top-grid">
  <a href="#"><img src="images/icon3.png"/> </a>
  <h3><a href="#">Ang Moh go crazy very power walaw.</a></h3>
  <p>I have maggi goreng, no need pisang pisang.</p>
  </div>
  <div class="clear"> </div>
  </div>
  </div>
  </div>
  <div class="footer">
  <div class="wrap">
  <div class="footer-left">
  <div class="copy">
  <p>© 2015 Topik services<p>
  </div>
  </div>
  <div class="social_icons">
  <ul>
  <li class="in"><a href="#"><span> </span></a></li>
  <li class="pro"><a href="#"><span> </span></a></li>
  <li class="twitter"><a href="#"><span> </span></a></li>
  <li class="facebook"><a href="#"><span> </span></a></li>
  <div class="clear"> </div>
  </ul>
  </div>
  <div class="clear"> </div>
  </div>
  </div>
</body>
</html>
