<html>
<head>
  <!-- meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- css tags -->
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <!-- <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/css/social-media-buttons.css">
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"> -->

</head>

<body>

  <main>

  <section class="navbar">
    <a href="#" id="team-link">Team</a>
    <a href="#" id="blog-link">Blog</a>
  </section>

  <section class="main-container">

    <h1 class="app-name">Topik</h1>

    <form action="/sent" method="post" autocomplete="off">
      <input type="text" name="email" required="required">
      <input type="submit" value="send">
    </form>

    <section class="social-media-links">
      <a href="#" id="facebook-icon">Facebook</a>
      <a href="#" id='twitter-icon'>Twitter</a>
    </section>

  </section>

  <section id="like-buttons" data-text="blah" data-title="Share"></section>

  <section class="footer">
  </section>

  </main>

  <!-- js scripts -->
  <script src="/js/jquery.js"></script>
  <script src="/js/jquery-sharre.js"></script>
  <script src="/js/social-media.js"></script>

</body>
</html>
